@charset "utf-8";

div.container div{
	min-height:300px;
	
}

div.header{
	background-image:url('images/header.jpg');
	background-repeat:no-repeat;		
}
div.menu{
	direction:rtl;
	margin:0 auto;	
}
div.menu ul{
	list-style-type:none;
	min-width:550px;
}
div.menu li{
	float:left;
	background-image:url('images/separatorPipe_lists.gif');
	background-repeat:repeat-y;
}
div.menu li:hover > a{
	color:black;
}
div.menu li:first-child{
	background-image:none;	
}
div.menu a{
	text-decoration:none;
	padding:7px 15px;
	display:block;
	color:white;
}

div.introduction div.about p,
div.introduction div.marrid p,
div.introduction div.children p,
div.introduction div.stress p,
div.introduction div.family p,
div.introduction div.vasvas p,
div.introduction div.education p{
	direction:rtl;	
	display:block;
	margin-right:35px;
	text-align:justify;
}
p.bold{
	margin-right:25px;
	font-weight:bold;
	color:#215676;	
}
div.introduction div.contact{
	direction:rtl;	
	display:block;
	margin-right:100px;
	text-align:justify;
	font-weight:bold;
}


div.introduction{
	margin-left:10px;
}

div.banner{
	margin:40px 0 40px 0;	
}
div.banner div.pic1 a,
div.pic2 a,
div.pic3 a{
	color:black;
	text-decoration:none;
}

div.banner div.pic1 a:hover,
div.pic2 a:hover,
div.pic3 a:hover{
	color:#C60000;
}

div.banner div.left div.pic1{
	background-image:url('images/95_thumb_small.png');	
	background-repeat:no-repeat;
	background-position:190px 20px;
	min-height:100px;
}

div.banner div.left div.pic2{
	background-image:url('images/97_thumb_small.png');
	background-repeat:no-repeat;
	background-position:190px 20px;
	min-height:100px;
}
div.banner div.left div.pic3{
	background-image:url('images/96_thumb_small.png');
	background-repeat:no-repeat;
	background-position:190px 20px;
	min-height:100px;
}
div.banner div.left div.pic1 div,
div.banner div.left div.pic2 div,
div.banner div.left div.pic3 div{
	min-height:50px;
	padding-top:40px;
}
div.banner div.left div.pic1 div.w3 p,
div.pic2 div.w3 p,
div.pic3 div.w3 p{
	text-align:right;
}

div.banner div.page {
	width:400px;
	height:250px;
	overflow:hidden;
	position:relative;
}

#scroll{
	width:1700px; /* > 4*400 */
	position:absolute;
	left:0;
	top:0;
	-webkit-transition:all 1s;
}
div.banner div.page img {
	display:block;
	float:left;
}


div.banner div.thum {
	margin-top:10px;
	text-align:center;
	cursor:pointer;
}

div.banner div.thum img {
	float:left;
	display:block;
	margin-left:15px;
}


div.line{
	min-height:10px !important;	
	background-image:url('images/separatorHorizontal_dotted.gif');
	background-repeat:repeat-x;
	margin-top:-220px;
}
div.footer{
	min-height:150px !important;
	background-image:url('images/background_footer.jpg');
	background-repeat:repeat-x;	
}
#bottom a{
	color:#003F7D;	
}
#bottom a:hover{
	color:black;	
}